<?php
// Database connection parameters
$db_hostname = "{{  db1_hosts  }}";
$db_port     = 3306;
$db_database = "{{  db_name  }}";
$db_username = "{{  db_user  }}";
$db_password = "{{  db_user_password  }}";

// Image upload options
$storage_option = "hd";
$hd_folder  = "uploads";

// Simulate latency, in seconds
$latency = 0;

// Cache configuration
$enable_cache = false;
$cache_server = "dns-or-ip-of-memcached-server";
?>
