network:
  version: 2
  renderer: NetworkManager
  ethernets:
    ens160:
     link-local: []
     dhcp4: no
     addresses: [{{ ansible_host }}/24]
     gateway4: "{{ gateway_ip }}"
     nameservers:
       addresses: [{{ dns_ip }}]
